
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    font-size: 16px;
    font-weight: 400;
    line-height: (26px/16px);
    color: $F2F2F2;
    background-color: $black;
    font-family:$font-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 10px;
}
h2{
    @include font-32;
}
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}
.container{
    max-width: 1170px;
}
input,
textarea,
button {
    padding: 12px 16px;
    border: 1px solid $border;
    outline: none;
    @include transition;
}
.input-group-append {
    cursor: pointer;
  }
input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: $primary;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.bg-cover{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
button{
    background:$FDFE02;
    border-radius: 10px;
    color: $black;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 39px;
    display: inline-block;
    text-transform: capitalize;
    border:1px solid $FDFE02;
    &:hover{
        background: transparent;
        color: $FDFE02;
    }
}

.select2-dropdown{
    background-color: #000;
}

.icon {
    color: blue; /* Change color */
    font-size: 24px; /* Change size */
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b{
      border: 0;
      position: relative;
      z-index: 1;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: auto;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b:after{
      position: absolute;
      content: "\f107";
      top: -5px;
      right: 0;
      width: 12px;
      height: 12px;
      font-size: 20px;
      color: #fff;
      font-family: 'Font Awesome\ 5 Free';
  }