// select 2
.select2 {
    &-container {
        z-index: 8;
    }
    &-selection {
        &--single {
            position: relative;
            z-index: 1;
            &::after {
                content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.4009 0.748101C1.34521 0.695474 1.2797 0.654332 1.20811 0.627023C1.13651 0.599714 1.06024 0.586772 0.983651 0.588939C0.907058 0.591106 0.831642 0.608338 0.761709 0.63965C0.691775 0.670963 0.628694 0.715743 0.576067 0.771435C0.52344 0.827126 0.482297 0.892638 0.454988 0.96423C0.427679 1.03582 0.414738 1.11209 0.416905 1.18868C0.419072 1.26528 0.436303 1.34069 0.467616 1.41063C0.498928 1.48056 0.543709 1.54364 0.5994 1.59627L5.8494 6.5546C5.95771 6.657 6.1011 6.71405 6.25015 6.71405C6.3992 6.71405 6.54259 6.657 6.6509 6.5546L11.9015 1.59627C11.9584 1.54399 12.0044 1.48092 12.0367 1.41073C12.069 1.34054 12.0871 1.26462 12.0898 1.18739C12.0926 1.11016 12.0799 1.03316 12.0527 0.96085C12.0254 0.888542 11.984 0.822373 11.931 0.766186C11.8779 0.709999 11.8142 0.664914 11.7436 0.633551C11.673 0.602187 11.5968 0.58517 11.5196 0.583487C11.4423 0.581804 11.3655 0.59549 11.2935 0.623749C11.2216 0.652008 11.156 0.694277 11.1006 0.748101L6.25015 5.32843L1.4009 0.748101Z' fill='%23F2F2F2'/%3e%3c/svg%3e ");
                position: absolute;
                top: 50%;
                right: var(--position, 18px);
                transform: translateY(-50%) scaleY(var(--scale-y, 1));
            }
            &[aria-expanded=true] {
                &::after {
                    --scale-y: -1;
                }
            }
        }
        &__arrow {
            display: none;
        }
    }
    &-dropdown {
        background-color: $_0D101A;
        border-color: $border;
    }
    &-search {
        &__field {
            background-color: transparent !important;
            border-radius: 4px;
            border-color: rgba($color: $border, $alpha: 1) !important;
            color: $white;
            padding: 4px 8px !important;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &-results {
        &__options {
            @include custom-scrollbar(8px,
            1px);
        }
        &__option {
            padding: 6px 10px;
            &--selected,
            &--highlighted {
                background-color: $primary !important;
                color: $black !important;
            }
        }
    }
}

// datePicker
.datepicker {
    &-dropdown {
        background-color: $black;
        padding: 10px;
        border-radius: 12px;
    }
    & td,
    & th {
        --width: 36px;
        width: var(--width);
        height: var(--width);
        color: rgba($color: $F2F2F2, $alpha: .80);
        border-radius: 8px;
        font-size: 14px;
        &.day {
            &.old,
            &.new {
                color: rgba($color: $F2F2F2, $alpha: .40);
            }
            &:hover,
            &.active,
            &.today {
                background-color: $primary !important;
                color: $black !important;
                font-weight: 600 !important;
                text-shadow: none !important;
                background-image: none !important;
            }
        }
    }
    & .year,
    & .decade,
    & .century,
    & .month {
        --width: 46px;
        width: var(--width);
        height: var(--width);
        color: rgba($color: $F2F2F2, $alpha: .80);
        border-radius: 8px;
        font-size: 14px;
        line-height: 45px;
        &.focused,
        &.active,
        &:hover {
            background-color: $primary !important;
            color: $black !important;
            font-weight: 600;
            background-image: none !important;
        }
    }
    &-switch,
    & .prev,
    & .next {
        &:hover {
            background-color: $primary !important;
            color: $black !important;
        }
    }
    &-orient {
        &-top::after,
        &-top::before {
            border-top-color: $black !important;
        }
        &-bottom::after,
        &-bottom::before {
            border-bottom-color: $black !important;
        }
    }
}

// table
.table {
    --bs-table-bg: transparent;
    --bs-table-color-state: currentColor;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    table-layout: fixed;
    @include ssm {
        width: max-content;
    }
    & thead {
        & tr {
            & th {
                font-size: 12px;
            }
        }
    }
    th {
        --radius: 8px;
        background: #1B1E19;
        &:first-child {
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }
        &:last-child {
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }
    td,
    & th {
        padding: 14px 16px;
        @include sm {
            padding: 12px 15px;
        }
        img {
            margin-right: 8px;
            max-width: 16px;
        }
        i {
            margin-right: 8px;
            font-size: 14px;
        }
    }
}