// select 2
.select2 {
    &-container {
        z-index: 8;
    }
    &-selection {
        &--single {
            position: relative;
            z-index: 1;
            &::after {
                content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.4009 0.748101C1.34521 0.695474 1.2797 0.654332 1.20811 0.627023C1.13651 0.599714 1.06024 0.586772 0.983651 0.588939C0.907058 0.591106 0.831642 0.608338 0.761709 0.63965C0.691775 0.670963 0.628694 0.715743 0.576067 0.771435C0.52344 0.827126 0.482297 0.892638 0.454988 0.96423C0.427679 1.03582 0.414738 1.11209 0.416905 1.18868C0.419072 1.26528 0.436303 1.34069 0.467616 1.41063C0.498928 1.48056 0.543709 1.54364 0.5994 1.59627L5.8494 6.5546C5.95771 6.657 6.1011 6.71405 6.25015 6.71405C6.3992 6.71405 6.54259 6.657 6.6509 6.5546L11.9015 1.59627C11.9584 1.54399 12.0044 1.48092 12.0367 1.41073C12.069 1.34054 12.0871 1.26462 12.0898 1.18739C12.0926 1.11016 12.0799 1.03316 12.0527 0.96085C12.0254 0.888542 11.984 0.822373 11.931 0.766186C11.8779 0.709999 11.8142 0.664914 11.7436 0.633551C11.673 0.602187 11.5968 0.58517 11.5196 0.583487C11.4423 0.581804 11.3655 0.59549 11.2935 0.623749C11.2216 0.652008 11.156 0.694277 11.1006 0.748101L6.25015 5.32843L1.4009 0.748101Z' fill='%23F2F2F2'/%3e%3c/svg%3e ");
                position: absolute;
                top: 50%;
                right: var(--position, 18px);
                transform: translateY(-50%) scaleY(var(--scale-y, 1));
            }
            &[aria-expanded=true] {
                &::after {
                    --scale-y: -1;
                }
            }
        }
        &__arrow {
            display: none;
        }
    }
    &-dropdown {
        background-color: $_0D101A;
        border-color: $border;
    }
    &-search {
        &__field {
            background-color: transparent !important;
            border-radius: 4px;
            border-color: rgba($color: $border, $alpha: 1) !important;
            color: $white;
            padding: 4px 8px !important;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &-results {
        &__options {
            @include custom-scrollbar(8px,
            1px);
        }
        &__option {
            padding: 6px 10px;
            &--selected,
            &--highlighted {
                background-color: $primary !important;
                color: $black !important;
            }
        }
    }
}

// datePicker
.datepicker {
    &-dropdown {
        background-color: $black;
        padding: 10px;
        border-radius: 12px;
    }
    & td,
    & th {
        --width: 34px;
        width: var(--width);
        height: var(--width);
        color: rgba($color: $F2F2F2, $alpha: .80);
        border-radius: 8px;
        font-size: 14px;
        &.day {
            &.old,
            &.new {
                color: rgba($color: $F2F2F2, $alpha: .40);
            }
            &:hover,
            &.active,
            &.today {
                background-color: $primary !important;
                color: $black !important;
                font-weight: 600 !important;
                text-shadow: none !important;
                background-image: none !important;
            }
        }
    }
    & .year,
    & .decade,
    & .century,
    & .month {
        --width: 46px;
        width: var(--width);
        height: var(--width);
        color: rgba($color: $F2F2F2, $alpha: .80);
        border-radius: 8px;
        font-size: 14px;
        line-height: 45px;
        &.focused,
        &.active,
        &:hover {
            background-color: $primary !important;
            color: $black !important;
            font-weight: 600;
            background-image: none !important;
        }
    }
    &-switch,
    & .prev,
    & .next {
        &:hover {
            background-color: $primary !important;
            color: $black !important;
        }
    }
    &-orient {
        &-top::after,
        &-top::before {
            border-top-color: $black !important;
        }
        &-bottom::after,
        &-bottom::before {
            border-bottom-color: $black !important;
        }
    }
}

// table
.table {
    --bs-table-bg: transparent;
    --bs-table-color-state: currentColor;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    table-layout: fixed;
    @include ssm {
        width: max-content;
    }
    & thead {
        & tr {
            & th {
                font-size: 12px;
            }
        }
    }
    th {
        --radius: 8px;
        background: #1B1E19;
        &:first-child {
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }
        &:last-child {
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }
    td,
    & th {
        padding: 14px 16px;
        @include sm {
            padding: 12px 15px;
        }
        img {
            margin-right: 8px;
            max-width: 16px;
        }
        i {
            margin-right: 8px;
            font-size: 14px;
        }
    }
}

// intl-input
.iti {
    background-color: $_0D101A;
    border: 1px solid $_4F5255;
    border-radius: 8px;
    height: 100%;
    @include flex;
    min-width: 70px;
    --padding-x: 12px;
    &__flag {
        &-container {
            position: unset !important;
            width: 100%;
            height: 100%;
        }
    }
    &__selected {
        &-flag {
            padding: 0;
            justify-content: space-between;
            padding: var(--padding-y, 0) var(--padding-x);
        }
    }
    &__arrow {
        border: none !important;
        position: relative;
        z-index: 1;
        &::before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.6955 1.05127C11.7551 0.994884 11.8253 0.950803 11.902 0.921543C11.9787 0.892283 12.0605 0.878418 12.1425 0.88074C12.2246 0.883061 12.3054 0.901524 12.3803 0.935073C12.4552 0.968622 12.5228 1.0166 12.5792 1.07627C12.6356 1.13594 12.6797 1.20613 12.7089 1.28284C12.7382 1.35954 12.7521 1.44126 12.7497 1.52332C12.7474 1.60539 12.729 1.68619 12.6954 1.76112C12.6619 1.83605 12.6139 1.90363 12.5542 1.96002L6.92922 7.27252C6.81318 7.38223 6.65954 7.44336 6.49984 7.44336C6.34015 7.44336 6.18651 7.38223 6.07047 7.27252L0.444844 1.96002C0.383868 1.90401 0.33463 1.83643 0.299989 1.76123C0.265348 1.68603 0.245997 1.60469 0.243057 1.52194C0.240117 1.4392 0.253648 1.35669 0.282864 1.27922C0.31208 1.20174 0.356398 1.13085 0.413245 1.07065C0.470092 1.01045 0.538334 0.962142 0.614007 0.928538C0.68968 0.894934 0.771275 0.876701 0.854055 0.874899C0.936834 0.873096 1.01915 0.887759 1.09621 0.918036C1.17327 0.948314 1.24355 0.993602 1.30297 1.05127L6.49984 5.95877L11.6955 1.05127Z' fill='%23F2F2F2' fill-opacity='0.7'/%3e%3c/svg%3e ");
            position: absolute;
            top: calc(var(--padding-x) * -1);
            left: calc(var(--padding-x) * -1);
        }
        &--up {
            &::before {
                transform: scaleY(-1);
            }
        }
    }
    &__dropdown {
        &-content {
            width: max-content;
            min-width: max-content;
            border-color: $_4F5255 !important;
            background-color: $_0D101A;
            z-index: 3 !important;
            border-radius: 8px;
            @include sm {
                width: 100%;
            }
        }
    }
    &__search {
        &-input {
            background-color: transparent !important;
            color: rgba($color: $F2F2F2, $alpha: .70);
        }
    }
    &__country-list {
        border-color: $_4F5255 !important;
        @include custom-scrollbar(6px,
        1px);
    }
    &__highlight {
        background-color: $primary !important;
        color: $black;
        & span {
            color: currentColor !important;
        }
    }
    &>input {
        display: none;
    }
}