.chooseDOption{
    gap: 20px;
    .from-control{
        width: 100%;
        label{
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    .select2-container--default{
        width: 100% !important;
        background: transparent !important;
        color: #F2F2F2;
        border-radius: 10px !important;
        font-weight: 500;
        font-size: 14px;
        height: 45px;
    }
    .select2-container--default .select2-selection--single{
        background: transparent;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px;
        border-color: #4F5255;
        .select2-selection__rendered{
            color: $F2F2F2B2_70;
            padding-left: 12px;
        }
    }
}

.diningFTitle{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.diningOption-right{
    textarea{
        width: 100%;
        background: transparent;
        border-radius: 8px;
        color: $F2F2F2B2_70;
        height: 73px;
    }
    textarea::placeholder{
        color: $F2F2F2B2_70;
        font-style: italic;
    }
}

.backNextBtns {
    text-align: center;
}
.stepFBottom{
    border-bottom:1px solid #4F5255;
}