.chooseDOption {
    gap: 20px;
    .from-control {
        width: 100%;
        label {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    .select2-container--default {
        width: 100% !important;
        background: transparent !important;
        color: #F2F2F2;
        border-radius: 10px !important;
        font-weight: 500;
        font-size: 14px;
        height: 45px;
    }
    .select2-container--default .select2-selection--single {
        background: transparent;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px;
        border-color: #4F5255;
        .select2-selection__rendered {
            color: $F2F2F2B2_70;
            padding-left: 12px;
        }
    }
}

.diningFTitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.diningOption-right {
    textarea {
        width: 100%;
        background: transparent;
        border-radius: 8px;
        color: $F2F2F2B2_70;
        height: 73px;
        resize: none;
    }
    textarea::placeholder {
        color: $F2F2F2B2_70;
        font-style: italic;
    }
}

.backNextBtns {
    text-align: center;
}

.stepFBottom {
    border-bottom: 1px solid #4F5255;
}

.privacy-policy {
    --padding-y: 40px;
    padding: var(--padding-y) 0;
    max-width: 460px;
    margin: 0 auto;
    @include sm {
        --padding: 30px;
    }
    figure {
        margin-top: 16px;
        display: inline-block;
        img {
            border-radius: 4px;
        }
    }
    .form-check {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        cursor: pointer;
        input {
            padding: 0;
            margin-top: -2px;
            cursor: pointer;
        }
        .form-check-input:checked[type=checkbox] {
            background-image: url('../img/checkbx.png');
            background-color: #FDFE02;
        }
    }
}