/*=============================
======= Result Area Css =======
===============================*/

.result__area {
    padding: 50px 0;
    h2 {
        @include font-34;
        color: $F2F2F2;
        span {
            font-size: 14px;
            font-weight: 500;
            color: $ADAEB1;
        }
    }
}


/*======================================
======= Service Details Area Css =======
========================================*/

.pageTop {
    padding: 32px 0;
    @include mmd {
        padding: 24px 0;
    }
    & .backDetails {
        & h4 {
            @include sm {
                display: none;
            }
        }
    }
}

.serviceDetailsTable {
    .sDTInner {
        background: $_0D101A;
        padding: 20px 16px;
        border-radius: 1rem;
        table {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            table-layout: fixed;
            @include ssm {
                width: max-content;
            }
            .table>thead tr th {
                border: 0;
                font-size: 12px;
            }
            th {
                --radius: 8px;
                background: #1B1E19;
                &:first-child {
                    border-top-left-radius: var(--radius);
                    border-bottom-left-radius: var(--radius);
                }
                &:last-child {
                    border-top-right-radius: var(--radius);
                    border-bottom-right-radius: var(--radius);
                }
            }
            td,
            & th {
                padding: 14px 16px;
                @include sm {
                    padding: 12px 15px;
                }
                img {
                    margin-right: 8px;
                    max-width: 16px;
                }
                i {
                    margin-right: 8px;
                    font-size: 14px;
                }
            }
        }
    }
}

.serviceDetailsTable .sDTInner table tr {
    border-color: #4F5255;
}


/* Swiper Slider Css */

.serviceDetailsSliderFaq {
    padding-bottom: 30px !important;
    .swiper-button-next,
    .swiper-button-prev {
        opacity: 0;
        visibility: hidden;
    }
    .mySwiper2 {
        height: auto;
        width: 100%;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .mySwiper2 {
        height: auto;
        width: 100%;
    }
    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
        border-radius: 16px !important;
    }
    .mySwiper .swiper-slide {
        width: 50px !important;
        height: 50px;
        opacity: 0.4;
    }
    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    .serviceDS .swiper-wrapper {
        height: 353px !important;
    }
    .swiper-watch-progress {
        & .swiper-wrapper {
            height: auto;
            justify-content: center;
            .swiper-slide img {
                border-radius: 8px;
                cursor: pointer;
            }
            & .swiper-slide-thumb-active {
                border: 1px solid #FDFE02;
                border-radius: 8px;
            }
        }
    }
    & .accordion {
        &-item {
            background: #0D101A;
            margin-bottom: 16px;
            border: 0;
            padding: 16px 20px;
            border-radius: 8px;
        }
        &-body {
            color: rgba($color: $F2F2F2, $alpha: .70);
            border: 0 !important;
            padding: 12px 0;
            font-size: 14px;
            border-top: 1px solid #303238 !important;
            margin-top: 12px;
        }
        &-button {
            padding: 0 !important;
            background: transparent;
            font-size: 16px;
            font-weight: 700;
            color: #f3f3f3;
            line-height: 150% !important;
            box-shadow: 0 0 0 !important;
            --bs-accordion-btn-icon-width: 1rem;
            &::after {
                background-image: url('../img/icons/arrow-down.svg');
            }
        }
    }
}


/*======================================
========== Travelers Area Css =========
========================================*/

.stepForm {
    min-height: 73vh;
    padding-bottom: 50px;
    .stepFTop {
        padding-top: 40px;
        padding-bottom: 20px;
        max-width: 670px;
        margin: 0 auto;
        @include sm {
            max-width: 100%;
            overflow-y: hidden;
        }
        .stepItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 13px;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            z-index: 1;
            width: calc(100% / 5);
            flex: 0 0 auto;
            @include sm {
                width: 132px;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                top: calc(50% - 15px);
                left: 4px;
                transform: translateY(-50%);
                height: 1px;
                width: calc(50% + 1px);
                background-color: #4F5255;
                z-index: -1;
            }
            &::after {
                left: auto;
                right: -4px;
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            .step-icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: $black;
                border: 1px solid #4F5255;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                span {
                    position: absolute;
                    right: -150%;
                    color: $white;
                }
            }
            &.passed {
                position: relative;
                z-index: 1;
                --active-color: #7FFE02;
                &::before,
                &::after {
                    background-color: var(--active-color);
                }
                .step-icon {
                    background-color: var(--active-color);
                    border-color: var(--active-color);
                    color: $black;
                    & span {
                        color: var(--active-color);
                    }
                }
            }
            &.active {
                position: relative;
                z-index: 1;
                --active-color: #FDFE02;
                &::before,
                &::after {
                    background-color: var(--active-color);
                }
                .step-icon {
                    background-color: var(--active-color);
                    border-color: var(--active-color);
                    color: $black;
                    & span {
                        color: var(--active-color);
                    }
                }
            }
        }
    }
    .stepForm-wrapper {
        background: $_0D101A;
        border-radius: 8px;
        .stepFBottom {
            border-top: 1px solid #4F5255;
            --padding: 40px;
            --padding-top: 24px;
            padding: var(--padding);
            padding-top: var(--padding-top);
            @include sm {
                --padding: 24px;
                --padding-top: 18px;
            }
        }
        & .backNextBtns {
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            @include lg {
                margin-top: 60px;
            }
            @include md {
                margin-top: 34px;
            }
            @include sm {
                margin-top: 30px;
                gap: 1rem;
            }
        }
        .mainCount {
            background: #000000;
            padding: 8px;
            border-radius: 28px;
            gap: 20px;
            font-size: 16px;
            font-weight: 500;
            color: $F2F2F2;
            button {
                background: transparent;
                border: 1px solid #4F5255 !important;
                color: #FDFE02;
                width: 37px !important;
                height: 37px !important;
                padding: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 1rem;
                &:hover {
                    border-color: $primary !important;
                }
            }
            & .count {
                min-width: 15px;
            }
        }
    }
}

.count-minmax {
    width: 333px;
    justify-content: space-between !important;
    margin: 20px auto 20px;
    @include sm {
        width: 100%;
    }
}

.stepSelectBed-wrapper {
    & .col-6 {
        @include ssm {
            width: 100%;
        }
    }
}

.single-bed-item {
    border: 1px solid #4F5255;
    display: block;
    padding: 16px;
    border-radius: 8px;
    h5 {
        font-size: 16px;
        color: $F2F2F2;
        font-weight: 500;
    }
    &:hover,
    &.active {
        border-color: #FDFE02;
        box-shadow: 0px 4px 24px 0px #FDFE024D;
    }
}

.single-bed-item img {
    border-radius: 8px;
    max-width: 221px;
    width: 100%;
}


/*=========================================
========== PassengerForm Area Css =========
===========================================*/

.passengerForm-box {
    background: $black;
    border-radius: 16px;
}