
.hero__area{
    height: 675px;
    @include mmd{
        height: 550px;
    }
    @include sm{
        height: 450px;
    }
    @include ssm{
        padding-top: 100px;
        height: auto;
    }
    .hero__content_inner{
        padding: 24px;
        border: 2px solid #4F5356;
        border-radius: 10px;
        background: linear-gradient(
            rgba(#000, 0.65) 0%,
            rgba(#000, 0.65) 100%
        );
        backdrop-filter: blur(10px);
        & .filter_item_wrapper {
            --btn-width: 125px;
            --gap:12px;
            --item:4;
            gap: var(--gap);
            @include mmd{
                --item:4;
                --btn-width:0px;
            }
            & > div {
                flex: 0 0 auto;
                &>*{
                    width: 100%;
                }
                &:not(:last-child) {
                    width: calc((100% - var(--btn-width)) / var(--item) - var(--gap));
                    @include mmd{
                        margin-bottom: 10px;
                    }
                    @include sm{
                        width: calc(calc(100% - var(--btn-width)) / 2);
                    }
                }

                &:last-child {
                    width: var(--btn-width);
                    @include mmd{
                        width: 100%;
                    }
                    @include sm{
                        width: 100%;
                    }
                }
            }
            
        }
        h3{
            color: $F2F2F2;
            font-weight: 700;
            @include font-24;
            margin-bottom: 12px !important;
        }
        h5{
            font-size: 14px;
            color: $F2F2F2;
            font-weight: 500;
        }
        .single-filter-item{
            input, select, .select2-selection{
                background: #000;
                color: $F2F2F2;
                border-radius: 10px;
                font-weight: 500;
                font-size: 14px;
                height: 45px;
                border: 1px solid #4C4C4C;
            }
            .select2-selection{
                display: flex;
                align-items: center;
                .select2-selection__rendered{
                    color: $F2F2F2;
                }
                .select2-selection__arrow{
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            button{
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        } 
       
    }
}

/*=============================
======= Result Area Css =======
===============================*/
.result__area{
    padding: 50px 0;
    h2{
       @include font-34; 
       color: $F2F2F2;
       span{
            font-size: 14px;
            font-weight: 500;
            color: $ADAEB1;
       }
    }
    .service-card{
        background: $_0D101A;
        padding: 24px;
        display: block;
        border-radius: 24px;
        margin-bottom: 24px;
        & .ssctc__left {
            width: 256px;
            flex: 0 0 auto;
        }
        .service-single-card-top-content{
            @include sm{
                flex-direction: column;
            }
        }
        .service-card-content{
            h2{
                margin-bottom: 20px;
            }
           ul{
            margin-bottom: 20px;
                li{
                    display: inline-block;
                    color: $F2F2F2;
                    opacity: 70%;
                    @include font-16;
                    padding-right: 30px;
                    padding-bottom: 12px;
                    & img{
                        margin-right: 8px;
                        width: 18px;
                    }
                }
           }
           .price-left{
            color: $F2F2F2;
            .price-txt{
                @include font-20;
                margin-bottom: 15px;
            }
            .price{
                @include font-32;
                display: block;
                font-weight: 700;
            }
           }
           .price-right-logo{
            max-width: 132px;
           }
        }
        .service-single-card-bottom-content{
            border-top: 2px solid $_4F5255;
            margin-top: 24px;
            padding-top: 24px;
            ul{
                max-width: 770px;
                margin: 0 auto;
                text-align: center;
                li{
                    display: inline-block;
                    padding:6px 12px;
                    color: $F2F2F2;
                    position: relative;
                    z-index: 1;
                    padding-left: 26px;
                    @include font-16;
                    &:before{
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 8px;
                        width: 20px;
                        height: 20px;
                        background-image: url('../img/check.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        
                    }
                }
            }
        }
    }
}


