@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin img($property) {
    position: relative;
    z-index: 1;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: $property;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin position_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin position_left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin position_right {
    position: absolute;
    top: 0;
    right: 0;
}

@mixin flex {
    display: flex;
    align-items: center;
}

// @mixin font-70 {
//     font-size: 70px;
//     line-height: (106px/70px);
//     @include xxl {
//         font-size: 60px;
//     }
//     @include xl {
//         font-size: 60px;
//     }
//     @include lg {
//         font-size: 40px;
//     }
//     @include md {
//         font-size: 36px;
//     }
//     @include sm {
//         font-size: 30px;
//     }
//     @include xsm {
//         font-size: 26px;
//     }
// }
// @mixin font-40 {
//     font-size: 40px;
//     line-height: (60px/40px);
//     @include xl {
//         font-size: 32px;
//     }
//     @include lg {
//         font-size: 28px;
//     }
//     @include md {
//         font-size: 26px;
//     }
//     @include sm {
//         font-size: 22px;
//     }
// }
@mixin font-34 {
    font-size: 34px;
    line-height: 150%;
    @include lg {
        font-size: 30px;
    }
    @include md {
        font-size: 26px;
    }
    @include sm {
        font-size: 22px;
    }
}

@mixin font-32 {
    font-size: 32px;
    line-height: 150%;
    @include lg {
        font-size: 28px;
    }
    @include md {
        font-size: 25px;
    }
    @include sm {
        font-size: 24px;
    }
}

@mixin font-24 {
    font-size: 24px;
    line-height: 150%;
    @include lg {
        font-size: 22px;
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-20 {
    font-size: 20px;
    line-height: 150%;
    @include mmd {
        font-size: 18px;
    }
}

@mixin font-18 {
    font-size: 18px;
    line-height: 150%;
    @include mmd {
        font-size: 16px;
    }
}

@mixin font-16 {
    font-size: 16px;
    line-height: 150%;
    @include mmd {
        font-size: 15px;
    }
}

@mixin custom-scrollbar($inset, $border) {
    &::-webkit-scrollbar {
        width: $inset;
        height: $inset;
    }
    &::-webkit-scrollbar-track {
        background-color: $black;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 20px;
        border: $border solid $black;
    }
}