$white:#fff;
$black:#000000;
$primary: #CBCC01;
$F2F2F2: #F2F2F2;
$CBCC01: #CBCC01;
$text:red;
$border:#4F5356;
$font-1 : "DM Sans",
sans-serif;
$FDFE02: #FDFE02;
$_0D101A: #0D101A;
$ADAEB1: #ADAEB1;
$_4F5255: #4F5255;
$F2F2F2B2_70: rgba($color: #F2F2F2, $alpha: .70)