.modal-dialog{
    max-width: 558px !important;
    .modal-content{
        background: #0D101A !important;
        border: 1px solid #303238;
        padding: 32px;
        .modal-header{
            border-color:#303238 !important;
        }
        .modal-body{
            padding:0 !important;
            & h4{
                font-size: 26px;
                margin-top: 20px;
                margin-bottom: 12px;
                color: $white;
            }
            & h5{
                font-size: 20px;
                color: $F2F2F2;
                margin-bottom: 12px;
            }
            & p{
                font-size: 18px;
                font-weight: 500;
                color: $F2F2F2B2_70;
            }
            & figure img{
                border-radius: 24px;
                max-width: 494px;
            }
        }
    }
}

.multiBtns i {
    padding-right: 8px;
    rotate: -1deg;
}