@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #F2F2F2;
  background-color: #000000;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 150%;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

input,
textarea,
button {
  padding: 12px 16px;
  border: 1px solid #4F5356;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input-group-append {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #CBCC01;
}

nav ul li {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/*Hide number spin button*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

button {
  background: #FDFE02;
  border-radius: 10px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 39px;
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid #FDFE02;
}
button:hover {
  background: transparent;
  color: #FDFE02;
}

.select2-dropdown {
  background-color: #000;
}

.icon {
  color: blue;
  /* Change color */
  font-size: 24px;
  /* Change size */
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  position: relative;
  z-index: 1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
  position: absolute;
  content: "\f107";
  top: -5px;
  right: 0;
  width: 12px;
  height: 12px;
  font-size: 20px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  background: #0D101A;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}
.backBtn:hover {
  color: #CBCC01;
}

.boxedBtn,
.inlineBtn {
  background: #FDFE02;
  padding: 12px 16px 12px 16px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  min-width: 125px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #FDFE02;
}
.boxedBtn:hover,
.inlineBtn:hover {
  background: transparent;
  color: #FDFE02;
}
@media only screen and (max-width: 479px) {
  .boxedBtn,
  .inlineBtn {
    min-width: 115px;
    padding: 10px 14px 10px 14px;
  }
}

.inlineBtn {
  background: transparent;
  color: #FDFE02;
  border-color: #4F5255;
}
.inlineBtn:hover {
  background: #FDFE02;
  color: #000000;
  border-color: #FDFE02;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.accordion-button:focus,
button:focus,
.uneditable-input:focus {
  box-shadow: none !important;
  outline: 0 none !important;
}

.boxedBtn.large,
.inlineBtn.large {
  min-width: 200px;
  text-transform: capitalize;
  display: inline-block;
}

.stepForm-wrapper .stepFTop .stepItem h5 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(242, 242, 242, 0.7);
}
.stepForm-wrapper .stepFTop .stepItem.active h5 {
  color: #fff;
}

.p-20 {
  padding: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.formTitle {
  margin-bottom: 20px;
}

.form-icon {
  --position: 18px;
  position: absolute;
  top: 50%;
  right: var(--position);
  transform: translateY(-50%);
  z-index: 2;
}
.form-icon.start-0 {
  right: auto;
  left: var(--position) !important;
}

.select2-container {
  z-index: 8;
}
.select2-selection--single {
  position: relative;
  z-index: 1;
}
.select2-selection--single::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.4009 0.748101C1.34521 0.695474 1.2797 0.654332 1.20811 0.627023C1.13651 0.599714 1.06024 0.586772 0.983651 0.588939C0.907058 0.591106 0.831642 0.608338 0.761709 0.63965C0.691775 0.670963 0.628694 0.715743 0.576067 0.771435C0.52344 0.827126 0.482297 0.892638 0.454988 0.96423C0.427679 1.03582 0.414738 1.11209 0.416905 1.18868C0.419072 1.26528 0.436303 1.34069 0.467616 1.41063C0.498928 1.48056 0.543709 1.54364 0.5994 1.59627L5.8494 6.5546C5.95771 6.657 6.1011 6.71405 6.25015 6.71405C6.3992 6.71405 6.54259 6.657 6.6509 6.5546L11.9015 1.59627C11.9584 1.54399 12.0044 1.48092 12.0367 1.41073C12.069 1.34054 12.0871 1.26462 12.0898 1.18739C12.0926 1.11016 12.0799 1.03316 12.0527 0.96085C12.0254 0.888542 11.984 0.822373 11.931 0.766186C11.8779 0.709999 11.8142 0.664914 11.7436 0.633551C11.673 0.602187 11.5968 0.58517 11.5196 0.583487C11.4423 0.581804 11.3655 0.59549 11.2935 0.623749C11.2216 0.652008 11.156 0.694277 11.1006 0.748101L6.25015 5.32843L1.4009 0.748101Z' fill='%23F2F2F2'/%3e%3c/svg%3e ");
  position: absolute;
  top: 50%;
  right: var(--position, 18px);
  transform: translateY(-50%) scaleY(var(--scale-y, 1));
}
.select2-selection--single[aria-expanded=true]::after {
  --scale-y: -1;
}
.select2-selection__arrow {
  display: none;
}

.header {
  width: 100%;
  transition: top 0.3s ease;
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.header-clear {
  height: 58px;
}
.header .navbar {
  --bs-navbar-toggler-padding-x: 6px;
  --bs-navbar-padding-y: 14px;
}
.header .navbar-brand img {
  width: 107px;
}
.header .navbar-nav li {
  padding-left: 19px;
}
@media only screen and (max-width: 767px) {
  .header .navbar-nav li {
    padding-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (max-width: 767px) {
  .header .navbar-nav li:last-child {
    border-bottom: 0;
  }
}
.header .navbar-nav li a {
  color: #F2F2F2;
  font-size: 16px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.header .navbar-nav li a.active {
  color: #fff;
  opacity: 1;
}
.header .navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .header .navbar-nav li a {
    padding: 15px 0;
  }
}
.header .navbar-toggler {
  background: #CBCC01;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Ensure it stays above other content */
}

/*=============================
======= Result Area Css =======
===============================*/
.result__area {
  padding: 50px 0;
}
.result__area h2 {
  font-size: 34px;
  line-height: 150%;
  color: #F2F2F2;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .result__area h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .result__area h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .result__area h2 {
    font-size: 22px;
  }
}
.result__area h2 span {
  font-size: 14px;
  font-weight: 500;
  color: #ADAEB1;
}

/*======================================
======= Service Details Area Css =======
========================================*/
.pageTop {
  padding-top: 32px;
  padding-bottom: 32px;
}

.serviceDetailsTable .sDTInner {
  background: #0D101A;
  padding: 20px 16px;
}
.serviceDetailsTable .sDTInner table {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
@media only screen and (max-width: 479px) {
  .serviceDetailsTable .sDTInner table {
    width: -moz-max-content;
    width: max-content;
  }
}
.serviceDetailsTable .sDTInner table .table > thead tr th {
  border: 0;
  font-size: 12px;
}
.serviceDetailsTable .sDTInner table thead tr {
  background: #1B1E19;
  border-radius: 10px !important;
}
.serviceDetailsTable .sDTInner table th {
  padding: 16px 14px;
}
.serviceDetailsTable .sDTInner table td {
  padding: 16px 14px;
}
.serviceDetailsTable .sDTInner table td img {
  margin-right: 8px;
  max-width: 16px;
}
.serviceDetailsTable .sDTInner table td i {
  margin-right: 8px;
  font-size: 14px;
}

.serviceDetailsTable .sDTInner table thead th {
  border: 0;
}

.serviceDetailsTable .sDTInner table td,
.serviceDetailsTable .sDTInner table tr {
  border-color: #4F5255;
}

/* Swiper Slider Css */
.serviceDetailsSliderFaq {
  padding-bottom: 30px !important;
}
.serviceDetailsSliderFaq .swiper-button-next,
.serviceDetailsSliderFaq .swiper-button-prev {
  opacity: 0;
  visibility: hidden;
}
.serviceDetailsSliderFaq .mySwiper2 {
  height: auto;
  width: 100%;
}
.serviceDetailsSliderFaq .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.serviceDetailsSliderFaq .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.serviceDetailsSliderFaq .swiper-slide {
  background-size: cover;
  background-position: center;
}
.serviceDetailsSliderFaq .mySwiper2 {
  height: auto;
  width: 100%;
}
.serviceDetailsSliderFaq .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 16px !important;
}
.serviceDetailsSliderFaq .mySwiper .swiper-slide {
  width: 50px !important;
  height: 50px;
  opacity: 0.4;
}
.serviceDetailsSliderFaq .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.serviceDetailsSliderFaq .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.serviceDetailsSliderFaq .serviceDS .swiper-wrapper {
  height: 353px !important;
}
.serviceDetailsSliderFaq .swiper-watch-progress .swiper-wrapper {
  justify-content: center;
}
.serviceDetailsSliderFaq .swiper-watch-progress .swiper-wrapper .swiper-slide img {
  border-radius: 8px;
  cursor: pointer;
}
.serviceDetailsSliderFaq .swiper-watch-progress .swiper-wrapper .swiper-slide-thumb-active {
  border: 1px solid #FDFE02;
  border-radius: 8px;
}
.serviceDetailsSliderFaq .accordion-item {
  background: #0D101A;
  margin-bottom: 16px;
  border: 0;
  padding: 16px 20px;
  border-radius: 8px;
}
.serviceDetailsSliderFaq .accordion-item .accordion-body {
  color: rgba(242, 242, 242, 0.7);
  border: 0 !important;
  padding: 12px 0;
  font-size: 14px;
  border-top: 1px solid #303238 !important;
  margin-top: 12px;
}
.serviceDetailsSliderFaq .accordion-item .accordion-button {
  padding: 0 !important;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #f3f3f3;
  line-height: 150% !important;
  box-shadow: 0 0 0 !important;
}
.serviceDetailsSliderFaq .accordion-item .accordion-button::after {
  background-image: url("../img/icons/arrow-down.svg");
}

/*======================================
========== Travelers Area Css =========
========================================*/
.stepForm {
  padding-bottom: 200px;
}
.stepForm .stepForm-wrapper {
  background: #0D101A;
  border-radius: 8px;
}
.stepForm .stepForm-wrapper .stepFTop {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 670px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.stepForm .stepForm-wrapper .stepFTop::before {
  position: absolute;
  content: "";
  left: 7%;
  top: 45.7%;
  width: 89%;
  height: 2px;
  background: #fff;
  z-index: -1;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  font-weight: 500;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem .step-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  border: 1px solid #4F5255;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem .step-icon span {
  position: absolute;
  right: -150%;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem:last-child .step-icon span {
  display: none;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active {
  position: relative;
  z-index: 1;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active::before {
  position: absolute;
  content: "";
  left: 38%;
  top: 28%;
  width: 110%;
  height: 2px;
  background: #7FFE02;
  z-index: -1;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active .step-icon {
  background: #7FFE02;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active:nth-child(2)::before {
  left: -90%;
  width: 275%;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active:nth-child(3)::before {
  left: -50%;
  width: 185%;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active:nth-child(4)::before {
  left: -70%;
  width: 220%;
}
.stepForm .stepForm-wrapper .stepFTop .stepItem.stepItem.active:nth-child(5)::before {
  left: -100%;
  width: 120%;
}
.stepForm .stepForm-wrapper .stepFBottom {
  border-top: 1px solid #4F5255;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.stepForm .stepForm-wrapper .stepFBottom .boxedBtn {
  margin-top: 100px;
  display: inline-block;
}
.stepForm .stepForm-wrapper .mainCount {
  background: #000000;
  padding: 8px;
  border-radius: 28px;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #F2F2F2;
}
.stepForm .stepForm-wrapper .mainCount button {
  background: transparent;
  border: 1px solid #4F5255 !important;
  color: #FDFE02;
  width: 37px !important;
  height: 37px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.stepForm .stepForm-wrapper .mainCount button:hover {
  border-color: #CBCC01 !important;
}

.count-minmax {
  width: 333px;
  justify-content: space-between !important;
  margin: 20px auto 20px;
}

.stepItem.active i {
  color: #000000;
}

.single-bed-item {
  border: 1px solid #4F5255;
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
}
.single-bed-item h5 {
  font-size: 16px;
  color: #F2F2F2;
  font-weight: 500;
}
.single-bed-item:hover, .single-bed-item.active {
  border-color: #FDFE02;
  box-shadow: 0px 4px 24px 0px rgba(253, 254, 2, 0.3019607843);
}

.single-bed-item img {
  border-radius: 8px;
  max-width: 221px;
}

/*=========================================
========== PassengerForm Area Css =========
===========================================*/
.passengerForm-box {
  background: #000000;
  border-radius: 16px;
}

.service-card {
  background: #0D101A;
  padding: 24px;
  display: block;
  border-radius: 24px;
  margin-bottom: 24px;
}
.service-card:hover h4 {
  color: #CBCC01;
}
.service-card .ssctc__left {
  width: 256px;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  flex: 0 0 auto;
}
@media only screen and (max-width: 767px) {
  .service-card .ssctc__left {
    width: 100%;
  }
}
.service-card .ssctc__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-card-content h4 {
  font-size: 34px;
  line-height: 150%;
  color: #F2F2F2;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .service-card-content h4 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-card-content h4 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .service-card-content h4 {
    font-size: 22px;
  }
}
.service-card-content h4 span {
  font-size: 14px;
  font-weight: 500;
  color: #ADAEB1;
}
.service-card-content ul {
  margin-bottom: 20px;
}
.service-card-content ul li {
  display: inline-block;
  color: #F2F2F2;
  opacity: 70%;
  font-size: 16px;
  line-height: 150%;
  padding-right: 30px;
  padding-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .service-card-content ul li {
    font-size: 15px;
  }
}
.service-card-content ul li img {
  margin-right: 8px;
  width: 18px;
}
.service-card-content .price-left {
  color: #F2F2F2;
}
.service-card-content .price-left .price-txt {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .service-card-content .price-left .price-txt {
    font-size: 18px;
  }
}
.service-card-content .price-left .price {
  font-size: 32px;
  line-height: 150%;
  display: block;
  font-weight: 700;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .service-card-content .price-left .price {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-card-content .price-left .price {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .service-card-content .price-left .price {
    font-size: 24px;
  }
}
.service-card-content .price-right-logo {
  max-width: 132px;
}
@media only screen and (max-width: 767px) {
  .service-single-card-top-content {
    flex-direction: column;
  }
}
.service-single-card-bottom-content {
  border-top: 2px solid #4F5255;
  margin-top: 24px;
  padding-top: 24px;
}
.service-single-card-bottom-content ul {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
.service-single-card-bottom-content ul li {
  display: inline-block;
  padding: 6px 12px;
  color: #F2F2F2;
  position: relative;
  z-index: 1;
  padding-left: 26px;
  font-size: 16px;
  line-height: 150%;
}
@media only screen and (max-width: 991px) {
  .service-single-card-bottom-content ul li {
    font-size: 15px;
  }
}
.service-single-card-bottom-content ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 20px;
  height: 20px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__area {
  height: 675px;
  padding: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .hero__area {
    height: 550px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__area {
    padding: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .hero__area {
    height: 550px;
  }
}
@media only screen and (max-width: 767px) {
  .hero__area {
    height: 450px;
    padding: 24px;
  }
}
@media only screen and (max-width: 479px) {
  .hero__area {
    padding-top: 100px;
    height: auto;
  }
}
.hero__area .input-group-text {
  background: transparent;
  border: 0;
  padding: 0;
  color: #fff;
}
.hero__area .input-group-append {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
}
.hero__content_inner {
  padding: 24px;
  border: 2px solid #4F5356;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.hero__content_inner h3 {
  color: #F2F2F2;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 12px !important;
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .hero__content_inner h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__content_inner h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .hero__content_inner h3 {
    font-size: 18px;
  }
}
.hero__content_inner h5 {
  font-size: 14px;
  color: #F2F2F2;
  font-weight: 500;
}
.hero__content_inner .form-icon {
  z-index: 9;
}
.hero__content_inner .single-filter-item input,
.hero__content_inner .single-filter-item select,
.hero__content_inner .single-filter-item .select2-selection {
  background: #000;
  color: #F2F2F2;
  border-radius: 10px !important;
  font-weight: 500;
  font-size: 14px;
  height: 45px;
  border: 1px solid #4C4C4C;
  padding: 0 36px;
}
.hero__content_inner .single-filter-item input::-moz-placeholder, .hero__content_inner .single-filter-item select::-moz-placeholder, .hero__content_inner .single-filter-item .select2-selection::-moz-placeholder {
  color: #F2F2F2;
}
.hero__content_inner .single-filter-item input::placeholder,
.hero__content_inner .single-filter-item select::placeholder,
.hero__content_inner .single-filter-item .select2-selection::placeholder {
  color: #F2F2F2;
}
.hero__content_inner .single-filter-item .select2-container {
  width: 100% !important;
}
.hero__content_inner .single-filter-item .select2-selection {
  display: flex;
  align-items: center;
}
.hero__content_inner .single-filter-item .select2-selection__rendered {
  color: #F2F2F2;
}
.hero__content_inner .single-filter-item button {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_item_wrapper {
  --btn-width: 125px;
  --gap: 12px;
  --item: 4;
  gap: var(--gap);
}
@media only screen and (max-width: 991px) {
  .filter_item_wrapper {
    --item: 4;
    --btn-width: 0px;
  }
}
.filter_item_wrapper > div {
  flex: 0 0 auto;
}
.filter_item_wrapper > div > * {
  width: 100%;
}
.filter_item_wrapper > div:not(:last-child) {
  width: calc((100% - var(--btn-width)) / var(--item) - var(--gap));
}
@media only screen and (max-width: 991px) {
  .filter_item_wrapper > div:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .filter_item_wrapper > div:not(:last-child) {
    --item: 1;
  }
}
.filter_item_wrapper > div:last-child {
  width: var(--btn-width);
}
@media only screen and (max-width: 991px) {
  .filter_item_wrapper > div:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .filter_item_wrapper > div:last-child {
    width: 100%;
  }
}

.footer {
  padding: 20px 0;
  background: #CBCC01;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  font-weight: 500;
}
@media only screen and (max-width: 991px) {
  .footer {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */